@import url("https://hello.myfonts.net/count/36fe40");

@font-face {
  font-family: "Univers";
  src: url(font/Univers.woff2) format("woff2"), url(font/Univers.woff) format("woff");
}

@font-face {
  font-family: "Italic";
  src: url(font/univers-regular-italic.woff) format("woff"), url(univers-regular-italic.eot) format("eot"), url(univers-regular-italic.ttf) format("ttf");
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers", Helvetica, Arial, sans-serif;
}

footer, h1, h2, h3, h4, h5, header, li, main, ol, p, span, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

em, i {
  font-family: "Italic";
  font-style: normal !important;
}

img {
  max-width: 100%;
}

footer, h1, h2, h3, h4, h5, header, li, main, ol, p, span, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

img {
  max-width: 100%;
}